header{
    width: 90%;
    margin: auto;
    background-color: #d3d3d3;
    border: solid black 2px;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
}
#input-box{
    width: 40%;
    margin: 3em auto;
    padding: 1em;
    border: solid black 2px;
    border-radius: 5px;
}
form label{
    float: left;
    margin-left: 30%;
}
form input{
    float: right;
    margin-right: 30%;
}
#btns{
    text-align: center;
}
#btns button{
    margin: 2%;
}
img{
    width: 30%;
}